# Folders
/.cache
/.out
/.sonarlint
/.storybook
/build
/coverage
/example
/src

# Files
/dist/**/style.js
.babelrc
.editorconfig
.gitignore
.npmignore
.scss-lint.yml
jest.config.js
setup.js
source.html
webpack.config.js
yarn.error.log
yarn.lock
